body  {
  background:rgb(207, 204, 200) url(http://www.jotform.com/images/noises/noise.png);
}

#wrap {
    background: url('../img/sprite.png') no-repeat 0 0;
}

#left{
 width:20%;
 float:left;
 position:relative;
}

#main
{
    width: 80%;
    float: right;
    position: relative;
}

#content{
}
